<div class="container vcenter form-group">
    <div class="row">
        <div class="col-md-6">
            <div ng-repeat="keyValue in KeyValueList">
                <input type="text" ng-model="keyValue.Key" placeholder="Name" ng-click="RowClick(keyValue)" ng-change="SaveKeyValues()" />
                <input type="text" ng-model="keyValue.Value" placeholder="Value" ng-click="RowClick(keyValue)" ng-change="SaveKeyValues()" />
            </div>
        </div>
        <div class="col-md-6">
            <textarea ng-model="RandomText"></textarea>
        </div>
    </div>
</div>