<div class="container vcenter form-group">
    <div class="row">
        <div class="col-md-4 col-md-push-4">
            <input type="text" placeholder="Username" ng-model="username" class="form-control" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            &nbsp;
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-md-push-4">
            <input type="password" placeholder="Password" ng-model="password" class="form-control" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            &nbsp;
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 col-md-push-4">
            <button ng-click="GoToLogin()" class="btn btn-primary">Take me to Login Page</button>
        </div>
        <div class="col-md-1 col-md-push-4">
            <button ng-click="SignUp()" class="btn btn-success">Sign Up</button>
        </div>
    </div>
</div>